
<app-header>
  <section class="section">
    <div class="container-fluid">
       <!-- ========== title-wrapper start ========== -->
       <div class="title-wrapper pt-30">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="title">
              <h2>Publish Marks</h2>
            </div>
          </div>
          <!-- end col -->
          <div class="col-md-6">
            <div class="breadcrumb-wrapper">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item" style="color: black;">
                    Manager
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                   Publish Marks
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        
        </div>
       
      </div>

     

  

    </div>
  </section>
  <app-footer></app-footer>
</app-header>
