.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #b9b8b8;
}
.h-custom {
height: calc(100% - 73px);
}
.selected {
    opacity: 1; 
  }
  
  button:not(.selected) {
    opacity: 0.5;
  }
  
  .paa{
    margin-top: 30px;
  }
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.para{
  font-weight: 550;
}


h4{
  font-weight: 500;
  font-size: 19px;
}

.pass{
  font-weight: 515;
  font-size: 15px;
}

.toggle-password-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 28px;
  top: 26%;
  transform: translateY(-50%);
}

.toggle-password-btnn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 28px;
  top: 59%;
  transform: translateY(-50%);
}



.card-style{
  padding-bottom:20px ;
}