<!-- ======== sidebar-nav start =========== -->
<app-trainee-header>

  <!-- Feedback Form Section -->
  <section class="section">
    
    <div class="container-fluid">
      <div class="title-wrapper pt-30">
        <div class="row align-items-center">
        <div class="col-md-6">
        <div class="title">
        <h2>FeedBack</h2>
        </div>
        </div>
        <!-- end col -->
        <div class="col-md-6">
        <div class="breadcrumb-wrapper">
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/trainee-dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
                            FeedBack
        </li>
        </ol>
        </nav>
        </div>
        </div>
        <!-- end col -->
        </div>
        <!-- end row -->
        </div>
    </div>

    <div class="container-feedback">
      <!-- Reactive Form -->
      <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()">
        <label for="name" style="padding-bottom: 10px;">Name</label>
        <input 
          id="name"
          formControlName="name" 
          
        />
        <!-- <div *ngIf="feedbackForm.controls['name'].invalid && feedbackForm.controls['name'].touched" class="error-message">
          Name is required.
        </div> -->

        <label for="email" style="padding: 10px 0px 10px 0px;">Email</label>
        <input 
          id="email"
          formControlName="email" 
           
          type="email"
        />
        <!-- <div *ngIf="feedbackForm.controls['email'].invalid && feedbackForm.controls['email'].touched" class="error-message">
          Valid email is required.
        </div> -->

        <label for="comments" style="padding: 10px 0px 10px 0px;">Comments</label>
        <input 
          id="comments"
          formControlName="comments" 
          required
        />
        <div *ngIf="feedbackForm.controls['comments'].invalid && feedbackForm.controls['comments'].touched" class="error-message">
          Comments are required.
        </div>

        <button type="submit" class="submit-btn" [disabled]="feedbackForm.invalid">
          Submit
        </button>
      </form>
    </div>
  </section>
</app-trainee-header>
