.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.card {
  margin-bottom: 20px;
  width: 100%; 
  max-width:70%; 
  transition: border 0.3s ease;
}


.card:hover {
  border: 1px solid blue;
}
.disabled-card {
  opacity: 0.5; 
  pointer-events: none; 
}


.disabled {
  opacity: 0.5;
  pointer-events: none; /* Prevent interaction with the course card */
}

.disabled .form-check-input {
  pointer-events: none; /* Prevent interaction with checkboxes */
}