<div class="services section">
    <div class="container">
        
        <div class="row">
            <div class="col-12 text-center mb-5">
                <div class="section-title">
                    
                    <h2 class="text-success">Course Information</h2>
                    
                </div>
            </div>
        </div>
 
        <!-- Start Courses Row -->
        <div class="row">
            
            <!-- Java Course Card -->
            <div class="col-lg-4 col-md-6 col-12 mb-4">
                <div class="card shadow-sm rounded">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Java</h5>
                       
                        <ul class="list-group">
                            <li class="list-group-item">
                                <input type="checkbox" ng-model="selectedCourses.javaOop"> Object-Oriented Programming (OOP)
                            </li>
                            <li class="list-group-item">
                                <input type="checkbox" ng-model="selectedCourses.javaCollections"> Collections Framework
                            </li>
                            <li class="list-group-item">
                                <input type="checkbox" ng-model="selectedCourses.javaExceptions"> Exception Handling
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
 
            <!-- SDLC Course Card -->
            <div class="col-lg-4 col-md-6 col-12 mb-4">
                <div class="card shadow-sm rounded">
                    <div class="card-body">
                        <h5 class="card-title text-primary">SDLC</h5>
                       
                        <ul class="list-group">
                            <li class="list-group-item">
                                <input type="checkbox" ng-model="selectedCourses.sdlcPlanning"> Planning Phase
                            </li>
                            <li class="list-group-item">
                                <input type="checkbox" ng-model="selectedCourses.sdlcDesign"> Design Phase
                            </li>
                            <li class="list-group-item">
                                <input type="checkbox" ng-model="selectedCourses.sdlcDevelopment"> Development Phase
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>
 
            <!-- Angular Course Card -->
            <div class="col-lg-4 col-md-6 col-12 mb-4">
                <div class="card shadow-sm rounded">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Angular</h5>
                       
                        <ul class="list-group">
                            <li class="list-group-item">
                                <input type="checkbox" ng-model="selectedCourses.angularComponents"> Components
                            </li>
                            <li class="list-group-item">
                                <input type="checkbox" ng-model="selectedCourses.angularDirectives"> Directives
                            </li>
                            <li class="list-group-item">
                                <input type="checkbox" ng-model="selectedCourses.angularServices"> Services
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
 
            <!-- Spring Boot Course Card -->
            <div class="col-lg-4 col-md-6 col-12 mb-4">
                <div class="card shadow-sm rounded">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Spring Boot</h5>
                       
                        <ul class="list-group">
                            <li class="list-group-item">
                                <input type="checkbox" ng-model="selectedCourses.springBootMicroservices"> Microservices
                            </li>
                            <li class="list-group-item">
                                <input type="checkbox" ng-model="selectedCourses.springBootREST"> REST APIs
                            </li>
                            <li class="list-group-item">
                                <input type="checkbox" ng-model="selectedCourses.springBootSecurity"> Security in Spring Boot
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
             <!-- Java Course Card -->
             <div class="col-lg-4 col-md-6 col-12 mb-4">
                <div class="card shadow-sm rounded">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Java</h5>

                        <ul class="list-group">
                            <li class="list-group-item">
                                <input type="checkbox" ng-model="selectedCourses.javaOop"> Object-Oriented Programming (OOP)
                            </li>
                            <li class="list-group-item">
                                <input type="checkbox" ng-model="selectedCourses.javaCollections"> Collections Framework
                            </li>
                            <li class="list-group-item">
                                <input type="checkbox" ng-model="selectedCourses.javaExceptions"> Exception Handling
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
             <!-- Java Course Card -->
             <div class="col-lg-4 col-md-6 col-12 mb-4">
                <div class="card shadow-sm rounded">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Java</h5>
                        
                        <ul class="list-group">
                            <li class="list-group-item">
                                <input type="checkbox" ng-model="selectedCourses.javaOop"> Object-Oriented Programming (OOP)
                            </li>
                            <li class="list-group-item">
                                <input type="checkbox" ng-model="selectedCourses.javaCollections"> Collections Framework
                            </li>
                            <li class="list-group-item">
                                <input type="checkbox" ng-model="selectedCourses.javaExceptions"> Exception Handling
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
       
 
        <!-- Submit Button -->
        <div class="row">
            <div class="col-12 text-center mt-4">
                <button class="btn btn-success" ng-click="submitSelections()">Submit</button>
            </div>
        </div>
 
        <!-- End Courses Row -->
    </div>
</div>