
.table th, .table td {
  vertical-align: middle;
  padding: 12px; 
  text-align: left; 

  
}

.table th {
  background-color: #f8f9fae0;
  color: #495057; 
}



.btn:hover {
  color: #fff;
}

.input-text:focus {
  box-shadow: 0px 0px 0px;
  border-color: #365CF5;
  outline: 0px;
}

.form-control {
  border: 1px solid #365CF5;
}



table th, table td {
  text-align: center;
}

table td button {
  margin-right: 5px;
}

td i {
  font-size: 22px; /* Ensure the icon is not too large */
}



 




/* Center the form and apply background overlay */
.form-container {
  background-color: rgba(0, 0, 0, 0.3); /* Dark transparent background */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Form popup styling */
.form-popup {
  background-color: #fff; /* White background for the form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%;
}

/* Input fields styling */
input[type="text"] {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;

}

/* Button styling */
.btn {
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: white;
 
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

/* 
drop down */
/* Dropdown styling with filter icon inside */
.custom-dropdown {
  position: relative; /* To position the icon inside */
  height: 40px; /* Consistent height */
  border-radius: 4px;
  border: 1px solid #365CF5;
  font-size: 0.95em;
  margin-top: 10px; /* Consistent margin-top with input fields */
}



/* Consistent styling for the input fields */
.form-control.input-text {
  width: 83%; /* Input box width */
  height: 40px; /* Match height of the dropdown */
  padding: 10px; /* Padding for input field */
  border-radius: 4px;
  border: 1px solid #365CF5;
  font-size: 0.95em;
  box-sizing: border-box;
  margin-top: 10px; /* Consistent margin-top */
}

.custom-dropdown:focus, .form-control.input-text:focus {
  border-color: #365CF5;
  outline: none;
}






/* for icons */

/* Remove default button styles */
.btn-icon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 1.5em; /* Size of the icon */
  margin: 0 10px; /* Space between icons */
}










.student-avatar {
  width: 50px; /* Adjust size as needed */
  height: 50px;
  border-radius: 50%; /* To make it round */
  object-fit: cover; /* Ensures image fits in the container */
}


.paddinged{
  padding-top: 15px;
}