<app-header>
  <section class="section">
    <div class="container-fluid">
      <!-- ========== title-wrapper start ========== -->
       <div class="title-wrapper pt-30">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="title">
              <h2>Manager Dashboard</h2>
            </div>
          </div>
          <!-- end col -->
          <div class="col-md-6">
            <div class="breadcrumb-wrapper">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/manager-dashboard">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Manager
                  </li>
                </ol>
              </nav>
            </div>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- ========== title-wrapper end ========== -->
  
<!-- Trainer Dashboard Cards -->
<div class="row">
  <!-- Scheduled Tests -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="icon-card cardd mb-30">
      <div class="icon purple">
        <i class="fas fa-calendar-check"></i> <!-- Font Awesome calendar check icon -->
      </div>
      <div class="content">
        <h6 class="mb-10">Scheduled Tests</h6>
        <h3 class="text-bold mb-10">{{ scheduledCount }}</h3>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="icon-card cardd mb-30">
      <div class="icon success">
        <i class="fas fa-user"></i> <!-- Icon for students -->
      </div>
      <div class="content">
        <h6 class="mb-10">Total Students</h6>
        <h3 class="text-bold mb-10">{{ count }}</h3> <!-- Display the total student count -->
      </div>
    </div>
  </div>
  

  <!-- Completed Tests -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="icon-card cardd mb-30">
      <div class="icon primary">
        <i class="fas fa-trophy"></i> <!-- Font Awesome trophy icon -->
      </div>
      <div class="content">
        <h6 class="mb-10">Completed Tests</h6>
        <h3 class="text-bold mb-10">{{ completedCount }}</h3>
      </div>
    </div>
  </div>

  <!-- No of GET's -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="icon-card cardd mb-30">
      <div class="icon primary">
        <i class="fas fa-clipboard-list"></i> <!-- Font Awesome clipboard-list icon -->
      </div>
      <div class="content">
        <h6 class="mb-10">No of Trainers</h6>
        <h3 class="text-bold mb-10">{{trainer_count}}</h3>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->
  
  

<app-aside></app-aside>
    

    
    
  </div>  
  </section>



  <app-footer></app-footer>
</app-header>
