<app-trainee-header>
  <div class="row m-5 d-flex justify-content-center">
    <!-- First Column -->
    <div class="col-lg-6 col-md-6">
      <div class="card-style settings-card-1 mb-30">
        <div class="title mb-30 d-flex justify-content-between align-items-center">
          <h6>My Profile</h6>
        </div>
        <div class="profile-info">
          <!-- Profile Image Section -->
          <div class="d-flex align-items-center mb-30">
            <div class="profile-image">
              <img [src]="user?.profile" alt="Profile Image" class="student-avatar"yy />
              <div class="update-image">
            <input type="file" (change)="onFileChange($event)"/><i class="lni lni-cloud-upload" ></i>
              </div>
            </div>
            <div class="profile-meta">
              <h5 class="text-bold text-dark mb-10">{{ user?.student_name }}</h5>
              <p class="text-sm text-gray">Graduate Engineer Trainee</p>

            </div>
          </div>
          
          <!-- Name Field -->
          <div class="input-style-1">
            <label>Name
            <i class="lni lni-pencil-alt"></i></label>
            <input type="text" [value]="user?.student_name" [(ngModel)]="user.student_name"/>
          </div>

          <!-- Employee Id Field -->
          <div class="input-style-1">
            <label>Employee Id</label>
            <input type="text" [value]="user?.rn_id" readonly />
          </div>

          <!-- Email Field -->
          <div class="input-style-1">
            <label>Email</label>
            <input type="email" [value]="user?.email" readonly />
          </div>
        </div>
      </div>
    </div>

    

    <!-- Second Column -->
    <div class="col-lg-6 col-md-6">
      <div class="card-style settings-card-1 mb-30">
        <div class="profile-info">

          <div class="col-12">
            <div class="input-style-1">
              <label>Work Address</label>
              <textarea placeholder="TP-2/1, Ascendas IT park, MWC Natham Sub P.O. Kancheepuram District Kancheepuram- 603002 India" rows="2" readonly></textarea>
            </div>
          </div>

          <!-- Skills Field -->
          <div class="input-style-1">
            <label>Skills
            <i class="lni lni-pencil-alt"></i></label>
            <textarea placeholder="Type here" rows="6" [(ngModel)]="user.skills" [value]="user?.skills"></textarea>
          </div>

          <!-- Update Button -->
          <div class="col-12">
            <button class="main-btn primary-btn btn-hover" (click)="saveEditedStudent()">Save Updated Profile</button>
          </div>
          <div
          *ngIf="msg"
          class="alert alert-success d-flex align-items-center alert-top"
          [ngClass]="{ 'alert-success': msg }"
          role="alert"
        >
          <!-- Icon inside the alert box -->
          <i
            class="fa-solid fa-circle-check"
            style="margin-right: 10px"
            width="24"
            height="24"
            role="img"
            aria-label="Success:"
          ></i>
          <div>
            {{ msg }}
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</app-trainee-header>
