

 
<!-- ======== sidebar-nav start =========== -->
<app-trainee-header>
    <!-- ========== header end ========== -->
  
          <!-- ========== header end ========== -->
          <!-- ========== section start ========== -->
    <section class="section">
      <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="title">
                <h2>Trainee Progress Tracker</h2>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
    
        
      </div>
    </section>
    

    <!-- ========== section end ========== -->
    <app-roadmap></app-roadmap>
  </app-trainee-header>
  
  
  
  
       
   