

 
<!-- ======== sidebar-nav start =========== -->
<app-trainee-header>
    <!-- ========== header end ========== -->
  
          <!-- ========== header end ========== -->
          <!-- ========== section start ========== -->
    <section class="section">
      <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
          <div class="row align-items-center">
          <div class="col-md-6">
          <div class="title">
          <h2>Progress Tracker</h2>
          </div>
          </div>
          <!-- end col -->
          <div class="col-md-6">
          <div class="breadcrumb-wrapper">
          <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/trainee-dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
                              Trainee
          </li>
          </ol>
          </nav>
          </div>
          </div>
          <!-- end col -->
          </div>
          <!-- end row -->
          </div>
        <!-- ========== title-wrapper end ========== -->
    
        
      </div>
    </section>
    

    <!-- ========== section end ========== -->
    <app-roadmap></app-roadmap>
  </app-trainee-header>
  
  
  
  
       
   