
 
 <app-header>
  <section class="section">
    <div class="container-fluid">
    <!-- ========== header end ========== -->
    <ng-template #centerIconCustomTemplate let-index="index" let-event="event">
        <div class="icon-container">
          <!-- Dynamically change the center icon color -->
          <i 
            class="fa-regular fa-circle-check" 
            [style.color]="getCenterIconColor(event)">
          </i>
        </div>
      </ng-template>
      
      
      <ng-template #innerEventCustomTemplate let-event="event">
        <div class="event" (click)="handleClick(event)">
          <span>{{ event.eventInfo.timestamp | date: 'MMMM dd, yyyy' }}</span>
          <h4 id="title">{{ event.eventInfo.title }}</h4>
          <p id="describe">{{ event.eventInfo.description }}</p>
          <div class="topics-container">
            <ng-container *ngFor="let topic of event.eventInfo.topics">
              <div class="topic">
      
                <i class="fa-regular fa-circle-check" [style.color]="getTopicIconColor(topic)"></i>
                <span> {{ topic.topic }}</span>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-template>
      
      <ng-template #dateInstantCustomTemplate let-item="item">
        <span>
          <!-- Use Angular's DatePipe to format the timestamp dynamically -->
          {{ item.timestamp | date: 'h:mm a' }}
        </span>
      </ng-template>
      
      <div class="custom-theme">
        <ngx-timeline 
          [events]="events"
          [langCode]="'en'"
          [enableAnimation]="true"
          [reverseOrder]="false"
          [changeSide]="changeSide"
          [innerEventCustomTemplate]="innerEventCustomTemplate"
          [centerIconCustomTemplate]="centerIconCustomTemplate"
          [dateInstantCustomTemplate]="dateInstantCustomTemplate">
        </ngx-timeline>
      </div>
      
    </div>
  </section>

<app-footer></app-footer>
    </app-header>
          
    <!-- ========== section end ========== -->
    
   
  
  