.card-style {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1.5rem;
    margin-left: 50px;
    margin-top: 50px;
}

.calendar-card {
    background-color: #fff;
    height: 100%;
    width: 100%;
    display: flex;  /* Flexbox to allow FullCalendar to adjust height */
    flex-direction: column;
}

.mb-30 {
    margin-bottom: 30px;
}

#calendar-mini {
    max-width: 100%;
    height: 100%;  /* Use this for flexible height inside the parent container */
    flex-grow: 1;  /* Allow the calendar to expand to fill available space */
}

.test-event {
 
    border-radius: 5px;
    padding: 5px;
  }
  
  /* General event styling */
.test-event {
    border-radius: 4px;
    padding: 4px;
    font-size: 0.9rem;
    text-align: center;
  }
  
 


  /* Style for scheduled events */
.event-completed {
  background-color: #65ae7e;  /* Green for scheduled */
  color: white;
  font-weight: 600;
  border: 2px solid #65ae7e

  ;
}

/* Style for completed events */
.event-scheduled{
  background-color: #f7c800;  
  color: white;
  font-weight: 600;
  border: 2px solid #f7c800;
}

/* Optional: Customize hover effects */
.event-scheduled:hover,
.event-completed:hover {
  opacity: 0.9;
}
