<div class="login-container">
    <div class="button-container">
      <button (click)="selectLogin('student')">Student</button>
      <button (click)="selectLogin('teacher')">Teacher</button>
      <button (click)="selectLogin('externalTrainer')">Trainer</button>
    </div>
  
    <div class="login-forms">
      <!-- Student Container -->
      <div [ngClass]="{'flip': currentLogin !== 'student'}" class="login-form">
        <div *ngIf="currentLogin === 'student'" class="login-content">
          <h3>Student Login</h3>
          <form>
            <label>Email</label>
            <input type="email" placeholder="Enter your email">
            <label>Password</label>
            <input type="password" placeholder="Enter your password">
            <a href="#" class="forgot-pass-link">Forgot password?</a>
            <button type="submit">Login</button>
          </form>
        </div>
        <div *ngIf="currentLogin !== 'student'" class="login-image">
          <img src="images/oone.jpg" alt="Student Image">
        </div>
      </div>
  
      <!-- Teacher Container -->
      <div [ngClass]="{'flip': currentLogin !== 'teacher'}" class="login-form">
        <div *ngIf="currentLogin === 'teacher'" class="login-content">
          <h3>Teacher Login</h3>
          <form>
            <label>Email</label>
            <input type="email" placeholder="Enter your email">
            <label>Password</label>
            <input type="password" placeholder="Enter your password">
            <a href="#" class="forgot-pass-link">Forgot password?</a>
            <button type="submit" [routerLink]="['/manager']">Login</button>
          </form>
        </div>
        <div *ngIf="currentLogin !== 'teacher'" class="login-image">
          <img src="images/twoo.jpg" alt="Teacher Image">
        </div>
      </div>
  
      <!-- External Trainer Container -->
      <div [ngClass]="{'flip': currentLogin !== 'externalTrainer'}" class="login-form">
        <div *ngIf="currentLogin === 'externalTrainer'" class="login-content">
          <h3>External Trainer Login</h3>
          <form>
            <label>Email</label>
            <input type="email" placeholder="Enter your email">
            <label>Password</label>
            <input type="password" placeholder="Enter your password">
            <a href="#" class="forgot-pass-link">Forgot password?</a>
            <button type="submit" [routerLink]="['/home']">Login</button>
          </form>
        </div>
        <div *ngIf="currentLogin !== 'externalTrainer'" class="login-image">
          <img src="images/thrre.jpg" alt="External Trainer Image" class="one">
        </div>
      </div>
    </div>
  </div>
  
  

