/* App component styles */
.login-container {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  padding: 50px;
  height: 100vh;
  
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background: url("/images/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  
}

.button-container {
  margin-top: 40px;
  margin-bottom: 20px;
}

button {
  margin: 0 10px;
  padding: 12px 25px;
  font-size: 16px;
  background-color: #7E57FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #7E57FF;
}

.login-forms {
  width: 70%;
  display: flex;
  gap: 0px;
  margin-top: 50px;
  margin-left: 200px;
  border-radius: 10px; /* Border radius for the outer container */
  border: 2px solid #7E57FF; /* Border around the entire container */
}

.login-form {
  width: 340px;
  height: 400px;
  margin: 0px;
  perspective: 1000px;
  position: relative;
  /* Removed border-radius to remove rounded corners for individual login containers */
}

.login-form.flip {
  transform: rotateY(180deg);
  transition: transform 0.8s ease;
}

.login-content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0; /* Removed the border-radius for the individual forms */
}

.login-content h3 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}

.login-content form {
  text-align: left;
  margin-top: 10px;
  width: 100%;
}

.login-content label {
  font-size: 14px;
  font-weight: 500;
}

.login-content input {
  width: 90%;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-content form a {
  text-align: right;
  display: block;
  margin-top: 10px;
  padding-right: 10px;
}

.login-content button {
  width: 70%;
  padding: 12px;
  background-color: #7E57FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 30px 45px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-content button:hover {
  background-color: #7E57FF;
}

.login-image {
  width: 100%; /* Ensures the container takes up the full width */
  height: 100%; /* Ensures the container takes up the full height */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Keeps the image inside the container */
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

