.cardd:hover{

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Apply shadow on hover */
  transition: box-shadow 0.3s ease;


}

.details{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 240px;
}

@media (min-width: 1440px) {
  .roww {
    height: 200px; /* Adjust height for larger screens */
  }
}
