<app-layout>

<div class="container-fluid">
      <!-- ========== title-wrapper start ========== -->
      <div class="title-wrapper pt-30">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="title">
              <h2>Course Checklist</h2>
            </div>
          </div>
          <!-- end col -->
          <div class="col-md-6">
            <div class="breadcrumb-wrapper">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#0">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Checklist
                  </li>
                </ol>
              </nav>
            </div>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- ========== title-wrapper end ========== -->
  
  <div class="container py-5 h-100">
    <div class="row d-flex flex-column justify-content-center align-items-center h-100">
      <ng-container *ngFor="let course of courses; let i = index">
        <div class="card rounded-3" [ngClass]="{'disabled-card': !isCourseCompleted(i - 1)}">
          <div class="card-body p-4">
            <p class="mb-2">
              <span class="h2 me-2">{{ course.title }}</span>
            </p>
            <ul class="list-group rounded-0">
              <li class="list-group-item border-0 d-flex align-items-center ps-0" *ngFor="let item of course.topics">
                <input 
                  class="form-check-input me-3" 
                  type="checkbox" 
                  [(ngModel)]="selectedCourses[item.model]" 
                  (change)="onCheckboxChange(item.topic)" 
                  [disabled]="!isCourseCompleted(i - 1)" 
                  aria-label="..."/>
                {{ item.topic }}
              </li>
            </ul>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  
</div>


  <!-- ========== footer start =========== -->
<app-footer></app-footer>


</app-layout>